.main{
    
    border: 1 solid;
    font-size: 40px;

}
.backgroundimage{
    background-image: url(naturee.webp);
    
    height: 2000px;
    width: 2000px;
    background-repeat: no-repeat;
    background-size: 1000px 1000px;


}
.zindx{
    position: absolute;
    z-index: 1;
    color: red;
    top: 400px;
    left: 400px;
    

}
.bhushan{
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 20px;

}