.main{
    
    border: 1 solid;
    font-size: 40px;

}
.backgroundimage{
    background-image: url(naturee.webp);
    
    height: 600px;
    width: 1000px;
    background-repeat: no-repeat;
    background-size: 1000px 1000px;


}
.zindx{
    position: absolute;
    z-index: 1;
    color: red;
    top: 800px;
    left: 400px;

    
    

}
.bhushan{
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 20px;

}

.stick{
    position: sticky;
    top: 0px;
    border: 1px solid;
    background-color: brown;
}

.fixx{
    position: fixed;
    bottom: 0px;
    left: 50px;
    border: 1px solid;
    background-color: yellow;
    color: black;
}

.rellative{
    position: relative;
    border: 1px solid;
    background-color: red;
    color: white;
    height: 300px;
    width: 300px;
    

}
.relll{
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px dotted;
    background-color: black;
}